/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.input-settings {
		width: 308px;
	}
	.input-settings.traffic {
		width: 510px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.table-wrap{
		width: 95%
	}
	.input-settings.traffic {
		width: 580px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.table-wrap{
		width: 100%
	}
	.login-wrap2 .social-list{
		margin: 10px 0px 10px 0px
	}
	.content-wrap {
	padding: 47px 20px 6px;
	}
	.input-settings {
		width: 410px;
	}
	.input-settings.traffic {
		width: 408px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.login{
		margin-left: 5px;
		padding: 10px 15px;
	}
	.toogle-nav{
		margin-right: 5px;
	}
	.login-wrap2 .email-login{
		width: 100%
	}
	.content-wrap {
		padding: 47px 10px 6px;
	}
	.input-settings {
		width: 270px;
	}
	.input-settings.traffic {
		width: 270px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}