footer.footer
	a.logo-img(href="#")
	.logo-title-wrap
		a.logo-title(href="#") IpNinja
	.copy Copyright &copy; 2015 All right reserved
	nav.footer-nav
		ul.footer-list
			li.footer-item
				a.footer-link(href="#") About us
			li.footer-item
				a.footer-link(href="#") Links
			li.footer-item
				a.footer-link(href="#") Terms&amp;Services
			li.footer-item
				a.footer-link(href="#") Rules
	.footer-social
		ul
			li
				a.footer-social-link.facebook(href="#")
			li
				a.footer-social-link.twitter(href="#")
			li
				a.footer-social-link.youtube(href="#")
			li
				a.footer-social-link.gogle-plus(href="#")