header.header.bg-color
	.header-wrap
		.container
			.header-logo
				a.logo-link-wrap(href="#")
					.logo-img
					.logo-title IpNinja
				.logo-discr.hidden-xs Anonymity<br>&amp; Security
			.header-discr.hidden-xs.hidden-sm.hidden-md 
				span.discr Proxy discription one two three four five six
		
