section.table-info
	.table-head
		h1.table-title What is my ip adress ?
		.table-discr IP description one two three four five six
		.table-ip
			span.table-ip--title Your IP Adress Is 
			span.table-ip--ip 95.53.74.237

	.table-wrap
		table.table
			tr.tbg1
				td.col1 My ip adress
				td.col2 95.53.74.237
			tr.tbg1
				td.col1 Country
				td.col2 <img class="first-img" src="img/russia.png"> Russian Federation (RU)
					span.hide-td Hide
						.hide-td-button.btn1
							span.crt
			tr.tbg2.hidden-tr-1
				td.col1 Region
				td.col2 Arkhangelsk
			tr.tbg2.hidden-tr-1
				td.col1 City
				td.col2 Arkhangelsk
			tr.tbg2.hidden-tr-1
				td.col1 Zip code
				td.col2.text-disable n/a
			tr.tbg2.hidden-tr-1
				td.col1 Hostname
				td.col2.text-disable n/a
			tr.tbg2
				td.col1 Ip range
				td.col2 95.53.74.0-95.53.74.255
					span.hide-td Hide
						.hide-td-button.btn2
							span.crt
			tr.tbg3.hidden-tr-2
				td.col1.brd-light Isp
				td.col2.brd-light ojsc north-west telecom
			tr.tbg3.hidden-tr-2
				td.col1.brd-light Organization
				td.col2.brd-light ojsc rostelecom
			tr.tbg1
				td.col1.brd-light dns
				td.col2.brd-light 91.122.223.211 <img src="img/russia.png"> Russian Federation (RU)
			tr.tbg1
				td.col1 Black list
				td.col2.text-danger yes
					span.hide-td Expand
						.hide-td-button.btn3
							span.crt
			tr.tbg2.hidden-tr-3
				td.col1 
				td.col2 (Illegal 3rd party exploits, icluding proxies, worms and trojan)
			tr.tbg2.hidden-tr-3
				td.col1
				td.col2 (Ip ranges which should not be delivering unauthenticated smtp)
			tr.tbg1
				td.col1 Proxy
				td.col2 no
			tr.tbg1
				td.col1 Webrtc
				td.col2 
					span.webrtc 192.168.1.6
					span 95.53.74.237
		
		table.table
			tr.tbg1
				td.col1 Zone
				td.col2 Europe/Moscow
			tr.tbg1
				td.col1 Local
				td.col2 Mon jun 1 2015 17:56:50 GMT+0300 (MSK)
			tr.tbg1
				td.col1 System
				td.col2 Mon jun 1 2015 17:56:50 GMT+0300 (Калининградское время (Зима))

		table.table
			tr.tbg1
				td.col1 Headers
				td.col2 Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.81 Safari/537.36
			tr.tbg1
				td.col1 Javascript
				td.col2 Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.81 Safari/537.36

		table.table.table-min-margin
			tr.tbg1
				td.col1 Language
				td.col2 u-RU,ru;q=0.8,en-US;q=0.6,en;q=0.4 | ru
			tr.tbg1
				td.col1 Active
				td.col2.text-disable Disabled
			tr.tbg1
				td.col1 Javascript
				td.col2 Enabled
			tr.tbg1
				td.col1 Java
				td.col2 Enabled

		table.table.table-min-margin
			tr.tbg1
				td.col1 Whois
				td.col2.text-show Show
		
		.register-discr Register now and buy service for a special price!
		.login-wrap1
			.login-wrap2
				input.email-login(type="email", name="email", placeholder="Enter your e-mail")
				span.login-via <b>or</b> login via social network
				ul.social-list
					li.social-item
						a.social-link.facebook(href="#")
					li.social-item
						a.social-link.in(href="#")
					li.social-item
						a.social-link.vk(href="#")
					li.social-item
						a.social-link.twitter(href="#")
				button.order(type="button") Order
